@{
    ViewData["Title"] = "Mars Weather";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" type="text/css" href="./css/site.css">
</head>

<body>
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            <a class="active">Mars Weather</a>
            @Html.ActionLink("About", "About", "About")
        </div>
        <div style="text-align: center;">
            <br /> <br /> <br />
            <iframe src='https://mars.nasa.gov/layout/embed/image/mslweather/' scrolling='no' frameborder='0' width='1024' height='600'></iframe>
        </div>
        <div class="footer">USF MSBAIS, 2022.</div>
    </div>
</body>

</html>
