
body,
html {
    background-color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    background-color: #555555;
}

img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 99%;
    height: auto;
    transform: translate(-50%, -50%);
}

canvas {
    width: 950px !important;
    height: 560px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topnav {
    background-color: #333;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: maroon;
            color: white;
        }

        .topnav select {
            display: none;
        }

@media only screen and (max-width: 900px) {
    .topnav a {
        display: none;
    }

    .topnav select {
        display: inline-block;
    }
}

.middle {
    position: relative;
    top: 5%;
    width: 100%;
    background-color: #555555;
    color: white;
}

    .middle info {
        position: absolute;
        font-size: 14px;
        top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        width: 25%;
        text-align: left;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.bio {
    position: absolute;
    top: 2%;
    width: 100%;
    color: black;
    text-shadow: 0px 0px 7px white;
    background-image: url("https://apod.nasa.gov/apod/image/2206/StrawberrySupermoonfromChina.jpg");
    background-color: #ffffff;
}

about {
  position: absolute;
  top: 2%;
  width: 100%;
  color: black;
  text-shadow: 0px 0px 7px white;
  background-image: url("https://apod.nasa.gov/apod/image/2206/StrawberrySupermoonfromChina.jpg");
  background-color: #ffffff;
  }

  .about p {
  position: static;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  opacity: 1;
  margin-left: 20%;
  margin-right: 20%;
  }

  .about h1 {
  position: static;
  z-index: 2;
  font-size: 50px;
  text-align: center;
  opacity: 1;
  }

  .about h2 {
  position: static;
  z-index: 2;
  font-size: 24px;
  text-align: center;
  opacity: 1;
  }
 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
