@{
    ViewData["Title"] = "Astronomy Picture of the Day";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("Mars Weather", "Weather", "Weather")
            <a class="active">About</a>
        </div>
        
        <div class="footer">USF MSBAIS, 2022.</div>
    </div>
</body>

</html>