@{
    ViewData["Title"] = "Astronomy Picture of the Day";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" type="text/css" href="./css/site.css">
</head>

<body>
    <div class="container">
        <div class="topnav">
            <a class="active">Home</a>
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("About", "About", "About")
        </div>
    </div>
    <div class="footer">USF MSBAIS, 2022.</div>
    

    
    <p style="color:pink;position: absolute; left: 50%;top:50%;transform:translate(-50%,-50%);padding:10px;">Q: What do you call a bear with no teeth?</p>
    <p style="color: pink;position: absolute; left: 50%;top:60%;transform:translate(-50%,-60%);padding:10px;">A: Gummy Bear</pstyle>
    
</body>

</html>
